:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

.destinations {
  .secTitle {
    .title {
      position: relative;
      width: max-content;
      color: var(--textColor);
      margin: 1rem 0 1.5rem;
      z-index: 2;

      &::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 5px;
        width: 120px;
        background: var(--SecondaryColor);
        height: 5px;
        z-index: -1;
      }
    }
  }

  .secContent {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    // overflow: hidden;

    .ContentItem {
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        transition: 0.5s ease;

        &:hover {
          scale: 1.05;
        }
      }

      .itemText {
        position: absolute;
        left: 1rem;
        bottom: 1.2rem;
        color: var(--whiteColor);

        h5 {
          font-size: 18px;
          font-weight: 600;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .destinations {
    .secContent {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
