:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.slider {
  // width: 80%;
  // display: grid;
  flex-direction: column;
  align-items: center;
  padding: 1rem 8.5rem;
  position: relative;

  h2 {
    width: max-content;
    color: var(--textColor);
    margin-bottom: 1rem;
  }
  //   display: flex;
  ul {
    display: flex;
    justify-content: center;
    margin: auto;

    li {
      width: 25%;
      padding: 0 0.5rem;

      img {
        border-radius: 10px;
      }

      h5 {
        color: var(--textColor);
      }
    }
  }
  button {
    position: absolute;
    padding: 1rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;

    top: 50%;
    transform: translateY(50%);
    width: 1.25rem;

    .IconLeft {
      position: absolute;
      left: 30%;
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
    }
    .IconRight {
      position: absolute;
      right: 30%;
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .prev {
    left: 7.5rem;
    border-radius: 0 50% 50% 0;
  }
  .next {
    right: 7.5rem;
    border-radius: 50% 0 0 50%;
  }

  .bn632-hover {
    width: 2rem;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 100% 100%;
    border-radius: 50%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .bn632-hover:focus {
    outline: none;
  }

  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
}
